##  One-sample T-test with Python

The test will tell us whether means of the sample and the population are different

In [ ]:
import scipy.stats as stats

In [ ]:
ages=[10,20,35,50,28,40,55,18,16,55,30,25,43,18,30,28,14,24,16,17,32,35,26,27,65,18,43,23,21,20,19,70]

In [ ]:
len(ages)

32

In [ ]:
import numpy as np
ages_mean=np.mean(ages)
print(ages_mean)

30.34375

In [ ]:
## Lets take sample

sample_size=10
age_sample=np.random.choice(ages,sample_size)

In [ ]:
age_sample

array([65, 23, 28, 65, 16, 23, 16, 14, 70, 10])

In [ ]:
ttest,p_value = stats.ttest_1samp(age_sample,30)

In [ ]:
print(p_value)

0.6998088233018644

In [ ]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

we are accepting null hypothesis

In [ ]:
print(ttest)

0.39813655968342787

In [ ]:
stats.t.ppf(q=0.025,  # Quantile to check
            df=9)  # Degrees of freedom

np.float64(-2.2621571628540997)

In [ ]:
stats.t.ppf(q=0.975,  # Quantile to check
            df=9)  # Degrees of freedom

np.float64(2.2621571628540993)

## One More Example
Consider the age of students in a college and in Class A

In [ ]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import math
np.random.seed(6)
school_ages=stats.poisson.rvs(loc=18,mu=35,size=1500)
classA_ages=stats.poisson.rvs(loc=18,mu=30,size=60)

In [ ]:
school_ages.mean()

np.float64(53.303333333333335)

In [ ]:
classA_ages.mean()

np.float64(46.9)

In [ ]:
t_test,p_value=stats.ttest_1samp(a=classA_ages,popmean=school_ages.mean())

In [ ]:
p_value

np.float64(1.139027071016194e-13)

In [ ]:
school_ages.mean()

np.float64(53.303333333333335)

In [ ]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

 we are rejecting null hypothesis

In [ ]:
print(t_test)

-9.604796510704091

In [ ]:
stats.t.ppf(q=0.025,  # Quantile to check
            df=59)  # Degrees of freedom

np.float64(-2.000995378088268)

In [ ]:
stats.t.ppf(q=0.975,  # Quantile to check
            df=59)  # Degrees of freedom

np.float64(2.0009953780882674)