In [1]:
import pandas as pd
import numpy as np
from statsmodels.stats import weightstats as stests

In [2]:
data = pd.read_csv('/content/sample_data/CardioGoodFitness.csv')

In [3]:
data.head()

  Product  Age  Gender  Education MaritalStatus  Usage  Fitness  Income  Miles
0   TM195   18    Male         14        Single      3        4   29562    112
1   TM195   19    Male         15        Single      2        3   31836     75
2   TM195   19  Female         14     Partnered      4        3   30699     66
3   TM195   19    Male         12        Single      3        3   32973     85
4   TM195   20    Male         13     Partnered      4        2   35247     47

In [10]:
data.count()

Product          180
Age              180
Gender           180
Education        180
MaritalStatus    180
Usage            180
Fitness          180
Income           180
Miles            180
dtype: int64

In [4]:
age = data['Age']

In [5]:
age

0      18
1      19
2      19
3      19
4      20
       ..
175    40
176    42
177    45
178    47
179    48
Name: Age, Length: 180, dtype: int64

In [8]:
age_mean = np.mean(age)
print(age_mean)

28.788888888888888

In [9]:
sample_size=10
age_sample=np.random.choice(age,sample_size)
print(age_sample)

[37 40 45 38 21 40 21 25 23 26]

In [11]:
ztest, pvalue = stests.ztest(age_sample, value=29)

In [12]:
print(pvalue)

0.3723165192617698

In [13]:
if pvalue < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

we are accepting null hypothesis

In [ ]:
from scipy.stats import norm
alpha = 0.05
z_critical = norm.ppf(1 - alpha/2)  # for two-tailed test
print("Critical z-value:", z_critical)

Critical z-value: 1.959963984540054

In [16]:
if ztest < z_critical and ztest > -z_critical:
    print("we are accepting null hypothesis")
else:
    print("we are rejecting null hypothesis")

we are accepting null hypothesis